#nav1{

  background-color:black; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,black , purple);
padding-bottom: 30px;
padding-top: 30px;
}

.nav-link{

color: white;
font-size:30px;
font-weight: bold;
}

.navbar-brand{
color: black;
}

.text{
  
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 50px;
  text-align:center;
}

h1{
 color: chocolate;
 text-align:center;
 padding-top: 20px;

}

#firstsec {

  background-color: blueviolet;
  height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}

#secondsec {

  background-color: burlywood;
  height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}

#thirdsec {

  background-color: brown;
  height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}

#forthsec {

  background-color: chartreuse;
  height: 500px;
  margin-left: 200px;
  margin-right: 200px;
}

#hov1:hover {
  background-color: yellow;
  border: solid;
  border-width: 5px;
  border-color: black;
}

#hov2:hover {
  background-color: green;
  border: solid;
  border-width: 5px;
  border-color: black;
}

#hov3:hover {
  background-color:silver;
  border: solid;
  border-width: 5px;
  border-color: black;
}

#hov4:hover {
  background-color:red;
  border: solid;
  border-width: 5px;
  border-color: black;
}
@media only screen and (max-width: 680px) {
  #firstsec {
    margin-left: -100px;
    margin-right: -100px;
    height: 300px;
    
    
    
  }
}  

@media only screen and (max-width: 680px) {
  #secondsec {
    margin-left: -100px;
    margin-right: -100px;
    height: 300px;
   }
}  

@media only screen and (max-width: 680px) {
  #thirdsec {
    margin-left: -100px;
    margin-right: -100px;
    height: 300px;
   }
}  

@media only screen and (max-width: 680px) {
  #forthsec {
    margin-left: -100px;
    margin-right: -100px;
    height: 300px;
   }
}  

@media only screen and (max-width: 680px) {
  #nav1 {
    background-color:black; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,black , silver);
    
   }
}  

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-image: linear-gradient(to right,black , purple);
  padding: 10px;
  
  

}

.grid-container > div {
  
  background-color:black; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,black , purple);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height:auto;
  color:white;
  border-radius: 10px;
  
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-image: linear-gradient(to right, purple, black);
  padding: 10px;
  

}

.grid-container1 > div {
  background-color:purple;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height:auto;
  color: white;
  border-radius: 10px;
}


@media only screen and (max-width: 680px) {
  .grid-container >div {
    background-color: chartreuse;
    
    
   }
}  

.textin {

padding-top: 50px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 20px;

}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}